force-app/main/default/flows/Get_phone_info_from_number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fetch_Phone_Details</name>
        <label>Fetch Phone Details</label>
        <locationX>362</locationX>
        <locationY>91</locationY>
        <actionName>invExtSinglePhoneFromNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_me_da_phone</targetReference>
        </connector>
        <inputParameters>
            <name>phoneNumbers</name>
            <value>
                <elementReference>varPhoneNumber</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varPhone.Brand</assignToReference>
            <name>Brand</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varPhone.DisplayUrl</assignToReference>
            <name>DisplayUrl</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varPhone.ExternalId</assignToReference>
            <name>ExternalId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varPhone.ID</assignToReference>
            <name>ID</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varPhone.PhoneNumber</assignToReference>
            <name>PhoneNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varPhone.UUID</assignToReference>
            <name>UUID</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>Get phone info from number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get phone info from number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Ask_for_Phone_No</name>
        <label>Ask for Phone No</label>
        <locationX>200</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fetch_Phone_Details</targetReference>
        </connector>
        <fields>
            <name>inputPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Whats ya phone numbah?!</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varPhoneNumber</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_me_da_phone</name>
        <label>Show me da phone</label>
        <locationX>553</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>outputPhone</name>
            <fieldText>&lt;p&gt;IS THIS YOUR PHONE&lt;/p&gt;&lt;p&gt;Brand: {!varPhone.Brand}&lt;/p&gt;&lt;p&gt;Numbah: {!varPhone.PhoneNumber}&lt;/p&gt;&lt;p&gt;ID:{!varPhone.ID}&lt;/p&gt;&lt;p&gt;UUID: {!varPhone.UUID}&lt;/p&gt;&lt;p&gt;externalID: {!varPhone.ExternalId}&lt;/p&gt;&lt;p&gt;displayUrl: {!varPhone.DisplayUrl}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Ask_for_Phone_No</startElementReference>
    <status>Draft</status>
    <variables>
        <name>varPhone</name>
        <apexClass>externalPhone</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
