force-app/main/default/flows/Get_Phones_From_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Query_phones_from_No</name>
        <label>Query phones from No.</label>
        <locationX>405</locationX>
        <locationY>203</locationY>
        <actionName>invExtQueryPhoneFromNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Count_up_the_responses</targetReference>
        </connector>
        <inputParameters>
            <name>phoneNumbers</name>
            <value>
                <elementReference>varPhoneNumber</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varPhoneList</assignToReference>
            <name>phoneList</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Increment</name>
        <label>Increment</label>
        <locationX>222</locationX>
        <locationY>361</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_up_the_responses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_duped_numbers</name>
        <label>Check for duped numbers</label>
        <locationX>580</locationX>
        <locationY>367</locationY>
        <defaultConnectorLabel>No doops</defaultConnectorLabel>
        <rules>
            <name>Dupes_found_for_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>afd</targetReference>
            </connector>
            <label>Dupes found for no.</label>
        </rules>
    </decisions>
    <interviewLabel>Get Phones From Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Phones From Number</label>
    <loops>
        <name>Count_up_the_responses</name>
        <label>Count up the responses</label>
        <locationX>405</locationX>
        <locationY>361</locationY>
        <assignNextValueToReference>varLoopPhone</assignNextValueToReference>
        <collectionReference>varPhoneList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_duped_numbers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>afd</name>
        <label>afd</label>
        <locationX>590</locationX>
        <locationY>143</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>fads</name>
            <fieldText>&lt;p&gt;fasd&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_DuPES</name>
        <label>No DuPES</label>
        <locationX>584</locationX>
        <locationY>561</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>outputNoDoops</name>
            <fieldText>&lt;p&gt;No doops brah&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Whats_ya_numba</name>
        <label>Whats ya numba</label>
        <locationX>233</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Query_phones_from_No</targetReference>
        </connector>
        <fields>
            <name>inputPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Whats ya numbah pal</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varPhoneNumber</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Whats_ya_numba</startElementReference>
    <status>Draft</status>
    <variables>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varLoopPhone</name>
        <apexClass>externalPhone</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhoneList</name>
        <apexClass>externalPhone</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
